.sidebar-container {
    box-shadow: rgba(255, 255, 255, 0.05) -1px 0px 0px 0px inset;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
    background-color: rgb(254 240 138);
}

.sidebar-container:hover {
    box-shadow: rgba(255, 255, 255, 1) -1px 0px 0px 0px inset;
}
